@charset "UTF-8";
/* line 5, D:/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, D:/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, D:/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, D:/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, D:/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, D:/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, D:/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, D:/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, D:/fire.app/lib/ruby/compass_1.0/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../scss/templates/_home.scss */
.home {
  background-color: #E9E9E9;
  padding-top: 40px;
  min-height: 100%;
  height: 100%;
  width: 100%;
}
/* line 7, ../scss/templates/_home.scss */
.home .inner-wrapper {
  position: relative;
  width: calc(100% - 40px - 240px);
  margin-left: 280px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #FFF;
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
/* line 14, ../scss/templates/_home.scss */
.home .inner-wrapper .info {
  padding: 25px 40px;
  height: calc(100vh - 150px);
}
/* line 17, ../scss/templates/_home.scss */
.home .inner-wrapper .info .title {
  margin-bottom: 20px;
  height: 57px;
  font-size: 30px;
  color: #333;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

/* line 1, ../scss/templates/_example.scss */
.example {
  background-color: #E9E9E9;
  padding: 40px 0;
  min-height: 100%;
  height: 100%;
  width: 100%;
}
/* line 7, ../scss/templates/_example.scss */
.example .inner-wrapper {
  position: relative;
  width: calc(100% - 40px - 240px);
  margin-left: 280px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #FFF;
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
/* line 14, ../scss/templates/_example.scss */
.example .inner-wrapper .info {
  padding: 25px 40px;
}
/* line 16, ../scss/templates/_example.scss */
.example .inner-wrapper .info .title {
  margin-bottom: 20px;
  height: 57px;
  font-size: 30px;
  color: #333;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
/* line 25, ../scss/templates/_example.scss */
.example .inner-wrapper .page-topbar {
  position: relative;
  height: 40px;
  width: 100%;
  border-bottom: 2px solid #eee;
}
/* line 30, ../scss/templates/_example.scss */
.example .inner-wrapper .page-topbar .topbar-item {
  display: inline-block;
  padding: 0 6px;
  width: 100px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #666;
  cursor: pointer;
}
/* line 40, ../scss/templates/_example.scss */
.example .inner-wrapper .page-topbar .date-info {
  display: inline-block;
  padding: 0 6px;
  height: 40px;
  line-height: 50px;
  font-size: 14px;
  color: #ff6812;
  float: right;
}
/* line 49, ../scss/templates/_example.scss */
.example .inner-wrapper .page-topbar .switcher {
  position: absolute;
  top: 38px;
  left: 0;
  height: 2px;
  width: 100px;
  background-color: #ef5700;
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
/* line 57, ../scss/templates/_example.scss */
.example .inner-wrapper .page-topbar .switcher.right {
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
/* line 61, ../scss/templates/_example.scss */
.example .inner-wrapper .page-topbar .switcher.left {
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
/* line 69, ../scss/templates/_example.scss */
.example .inner-wrapper .ticketinput-wrapper .form-group {
  display: inline-block;
  margin-right: 15px;
}
/* line 72, ../scss/templates/_example.scss */
.example .inner-wrapper .ticketinput-wrapper .form-group label {
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: bold;
}
/* line 80, ../scss/templates/_example.scss */
.example .inner-wrapper .ticketinput-wrapper.company .form-group.id {
  width: 450px;
}
/* line 83, ../scss/templates/_example.scss */
.example .inner-wrapper .ticketinput-wrapper.company .form-group.name {
  width: calc(100% - 350px - 20px);
}
/* line 87, ../scss/templates/_example.scss */
.example .inner-wrapper .ticketinput-wrapper.company .form-group.button {
  width: calc(100% - 700px - 20px);
  margin-right: 0;
}
/* line 94, ../scss/templates/_example.scss */
.example .inner-wrapper .ticketinput-wrapper.dollar .form-group {
  width: 22%;
  vertical-align: top;
}
/* line 97, ../scss/templates/_example.scss */
.example .inner-wrapper .ticketinput-wrapper.dollar .form-group:last-child {
  width: calc(34% - 60px);
  margin-right: 0;
}

/* line 1, ../scss/templates/_invoice.scss */
.invoice-page {
  background-color: #E9E9E9;
  padding: 40px 0;
  min-height: 100%;
  height: 100%;
  width: 100%;
}
/* line 7, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper {
  position: relative;
  width: calc(100% - 40px - 240px);
  margin-left: 280px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #FFF;
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
/* line 14, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content {
  padding: 25px 40px;
}
/* line 16, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-topbar {
  position: relative;
  height: 40px;
  width: 100%;
  border-bottom: 2px solid #eee;
}
/* line 21, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-topbar .topbar-item {
  display: inline-block;
  padding: 0 6px;
  width: 100px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #666;
  cursor: pointer;
}
/* line 31, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-topbar .date-info {
  display: inline-block;
  padding: 0 6px;
  height: 40px;
  line-height: 50px;
  font-size: 14px;
  color: #ff6812;
  float: right;
}
/* line 40, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-topbar .switcher {
  position: absolute;
  top: 38px;
  left: 0;
  height: 2px;
  width: 100px;
  background-color: #ef5700;
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
/* line 48, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-topbar .switcher.right {
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
/* line 52, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-topbar .switcher.left {
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
/* line 59, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-info .invoice {
  padding: 20px 0;
}
/* line 62, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-info .invoice .invoice-input .input-content {
  margin-bottom: 20px;
}
/* line 64, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-info .invoice .invoice-input .input-content .input-title {
  width: 100%;
  height: 30px;
  line-height: 30px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #333;
  border-bottom: 1px solid #ccc;
}
/* line 74, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-info .invoice .invoice-input .input-content .input-wrapper .form-group {
  display: inline-block;
  margin-right: 15px;
}
/* line 77, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-info .invoice .invoice-input .input-content .input-wrapper .form-group label {
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: bold;
}
/* line 85, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-info .invoice .invoice-input .input-content .input-wrapper.company .form-group.id, .invoice-page .inner-wrapper .invoice-content .invoice-info .invoice .invoice-input .input-content .input-wrapper.company .form-group.date {
  width: 200px;
}
/* line 88, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-info .invoice .invoice-input .input-content .input-wrapper.company .form-group.name {
  width: calc(100% - 400px - 40px);
}
/* line 91, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-info .invoice .invoice-input .input-content .input-wrapper.company .form-group.date {
  vertical-align: top;
  margin-right: 0;
}
/* line 98, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-info .invoice .invoice-input .input-content .input-wrapper.dollar .form-group {
  width: 22%;
  vertical-align: top;
}
/* line 101, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-info .invoice .invoice-input .input-content .input-wrapper.dollar .form-group:last-child {
  width: calc(34% - 60px);
  margin-right: 0;
}
/* line 109, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-info .invoice .invoice-input .action {
  text-align: center;
}
/* line 111, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-info .invoice .invoice-input .action .btn-info {
  width: 150px;
  margin-right: 15px;
}
/* line 117, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-info .invoice .invoice-result {
  height: 0;
  visibility: hidden;
  opacity: 0;
  border-top: 1px solid #eee;
  text-align: center;
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
/* line 124, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-info .invoice .invoice-result.result-show {
  height: 586px;
  margin-top: 20px;
  visibility: visible;
  opacity: 1;
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
/* line 130, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-info .invoice .invoice-result.result-show .result-wrapper {
  display: block;
}
/* line 134, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-info .invoice .invoice-result .result-wrapper {
  display: none;
  width: 800px;
  height: 550px;
  padding: 10px 30px;
  margin: 35px auto 0;
  text-align: center;
  border: 2px dashed #ccc;
}
/* line 142, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-info .invoice .invoice-result .result-wrapper .invoice-title {
  font-size: 20px;
  height: 24px;
  line-height: 24px;
  margin-bottom: 8px;
  color: #aaa;
}
/* line 148, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-info .invoice .invoice-result .result-wrapper .invoice-title span {
  margin: 0 10px;
}
/* line 152, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-info .invoice .invoice-result .result-wrapper .invoice-desc {
  color: #aaa;
  font-size: 16px;
  margin-bottom: 8px;
}
/* line 157, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-info .invoice .invoice-result .result-wrapper .invoice-date {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  vertical-align: top;
}
/* line 162, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-info .invoice .invoice-result .result-wrapper .invoice-date span {
  color: #333;
  font-size: 24px;
}
/* line 167, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-info .invoice .invoice-result .result-wrapper .result-content {
  text-align: left;
  font-size: 14px;
  color: #aaa;
}
/* line 171, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-info .invoice .invoice-result .result-wrapper .result-content .invoice-buyer {
  margin-bottom: 8px;
  height: 28px;
  line-height: 28px;
}
/* line 175, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-info .invoice .invoice-result .result-wrapper .result-content .invoice-buyer span {
  color: #333;
  font-size: 24px;
  line-height: 24px;
}
/* line 181, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-info .invoice .invoice-result .result-wrapper .result-content .invoice-meta {
  margin-bottom: 15px;
}
/* line 183, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-info .invoice .invoice-result .result-wrapper .result-content .invoice-meta .invoice-companyid {
  display: inline-block;
  margin-right: 15px;
}
/* line 186, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-info .invoice .invoice-result .result-wrapper .result-content .invoice-meta .invoice-companyid span {
  height: 24px;
  line-height: 28px;
}
/* line 190, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-info .invoice .invoice-result .result-wrapper .result-content .invoice-meta .invoice-companyid .id-item {
  width: 28px;
  height: 28px;
  display: inline-block;
  border: 1px solid #ccc;
  border-right: none;
  text-align: center;
  line-height: 28px;
  vertical-align: top;
  font-size: 24px;
  color: #333;
}
/* line 201, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-info .invoice .invoice-result .result-wrapper .result-content .invoice-meta .invoice-companyid .id-item:last-child {
  border-right: 1px solid #ccc;
}
/* line 207, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-info .invoice .invoice-result .result-wrapper .result-content .invoice-table {
  height: 200px;
}
/* line 211, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-info .invoice .invoice-result .result-wrapper .result-content .invoice-table thead tr th {
  border: 1px solid #C38293;
  font-size: 16px;
  padding: 4px 8px;
}
/* line 220, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-info .invoice .invoice-result .result-wrapper .result-content .invoice-table tbody tr td {
  height: 40px;
  line-height: 40px;
  border: 1px solid #C38293;
  padding: 0 8px;
  font-size: 16px;
}
/* line 226, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-info .invoice .invoice-result .result-wrapper .result-content .invoice-table tbody tr td.td-answer {
  color: #333;
  font-size: 24px;
}
/* line 230, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-info .invoice .invoice-result .result-wrapper .result-content .invoice-table tbody tr td.td-word {
  text-align: right;
  font-size: 24px;
}
/* line 233, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-info .invoice .invoice-result .result-wrapper .result-content .invoice-table tbody tr td.td-word .word-item {
  display: inline-block;
  width: 60px;
  margin-left: 5px;
}
/* line 237, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-info .invoice .invoice-result .result-wrapper .result-content .invoice-table tbody tr td.td-word .word-item .word {
  display: inline-block;
  margin-right: 5px;
  text-align: center;
  color: #333;
}
/* line 243, ../scss/templates/_invoice.scss */
.invoice-page .inner-wrapper .invoice-content .invoice-info .invoice .invoice-result .result-wrapper .result-content .invoice-table tbody tr td.td-word .word-item .unit {
  line-height: 20px;
  font-size: 16px;
}

/* line 1, ../scss/templates/_studentInfo.scss */
.studentinfo {
  background-color: #E9E9E9;
  padding-top: 40px;
  min-height: 100%;
  height: 100%;
  width: 100%;
}
/* line 7, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper {
  position: relative;
  width: calc(100% - 40px - 240px);
  margin-left: 280px;
}
/* line 11, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .info {
  padding: 25px 40px;
  height: calc(100vh - 150px);
  background-color: #FFF;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
/* line 17, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .info .title {
  margin-bottom: 20px;
  height: 57px;
  font-size: 30px;
  color: #333;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
/* line 25, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .info .si-control-group {
  display: -webkit-flex;
  display: flex;
  height: 35px;
}
/* line 28, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .info .si-control-group .class-dropdown {
  position: relative;
  margin-right: 20px;
}
/* line 31, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .info .si-control-group .class-dropdown .spin-style {
  display: inline-block;
  margin-right: 10px;
}
/* line 35, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .info .si-control-group .class-dropdown .btn-default {
  position: relative;
  max-width: 280px;
  padding-right: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* line 42, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .info .si-control-group .class-dropdown .btn-default .caret {
  position: absolute;
  top: 50%;
  right: 10px;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 50, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .info .si-control-group .si-upload {
  width: calc(100% - 556px);
  margin-right: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 56, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .info .si-control-group .si-upload.is-empty {
  border: 1px solid #F14342;
}
/* line 59, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .info .si-control-group .si-upload .upload-title {
  width: 80px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  background-image: linear-gradient(to bottom, #ffb489 0%, #ff7323 100%);
  display: inline-block;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px 0 0 3px;
  font-size: 14px;
  color: #FFF;
}
/* line 70, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .info .si-control-group .si-upload .upload-name {
  display: inline-block;
  width: calc(100% - 100px);
  height: 34px;
  line-height: 34px;
  overflow: hidden;
  vertical-align: top;
  margin-left: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
}
/* line 83, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .info .si-control-group .si-control {
  width: 300px;
}
/* line 85, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .info .si-control-group .si-control .form-control {
  height: 36px;
}
/* line 89, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .info .si-control-group .result-container {
  display: none;
  width: 100px;
  margin-left: 20px;
}
/* line 93, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .info .si-control-group .result-container .label {
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
  margin: auto 10px;
}
/* line 99, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .info .si-control-group .result-container .spin-style {
  margin: auto;
}
/* line 102, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .info .si-control-group .result-container.show-result {
  display: -webkit-flex;
  display: flex;
}
/* line 107, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .info .result-content {
  position: relative;
  height: calc(100% - 60px);
  overflow: hidden;
  margin-top: 20px;
}
/* line 112, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .info .result-content .load-layout {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}
/* line 120, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .info .result-content .load-layout .load-block {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 126, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .info .result-content .load-layout .load-block .layout-title {
  font-size: 20px;
  color: #FFF;
}
/* line 129, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .info .result-content .load-layout .load-block .layout-title .spin-style {
  display: inline-block;
}
/* line 135, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .info .result-content .si-div {
  display: none;
  position: relative;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
}
/* line 143, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .info .result-content .si-div table tr th {
  background-color: rgba(255, 93, 1, 0.8);
  color: #FFF;
}
/* line 149, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .info .result-content .si-div.show {
  display: block;
  border: 2px solid #ccc;
  border-top: none;
}
/* line 158, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .manage .manage-topbar {
  height: 50px;
  line-height: 50px;
  background-color: #FFF;
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 164, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .manage .manage-topbar .class-dropdown {
  display: -webkit-inline-flex;
  display: inline-flex;
  position: relative;
  margin-left: 20px;
}
/* line 168, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .manage .manage-topbar .class-dropdown #class-label {
  margin: auto;
}
/* line 170, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .manage .manage-topbar .class-dropdown #class-label .spin-style {
  display: inline-block;
  margin-right: 10px;
}
/* line 175, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .manage .manage-topbar .class-dropdown .dropdown-menu {
  top: calc(100% - 10px);
}
/* line 177, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .manage .manage-topbar .class-dropdown .dropdown-menu li {
  cursor: pointer;
}
/* line 182, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .manage .manage-topbar .student-search {
  display: -webkit-inline-flex;
  display: inline-flex;
  height: 50px;
  width: 300px;
  vertical-align: top;
  float: right;
}
/* line 188, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .manage .manage-topbar .student-search .input-group {
  margin: auto;
  margin-right: 20px;
}
/* line 194, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .manage .loader {
  margin-top: 20px;
}
/* line 197, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .manage .manage-content {
  margin-top: 20px;
  background-color: #FFF;
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 202, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .manage .manage-content .manage-title {
  height: 60px;
  line-height: 60px;
  padding: 0 24px;
  font-size: 16px;
  color: #FFF;
  background-color: #FF8400;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px;
  border-radius: 3px 3px 0 0;
}
/* line 211, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .manage .manage-content .table-content {
  padding-top: 10px;
}
/* line 216, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .manage .manage-content .table-content table thead tr th {
  height: 40px;
  line-height: 40px;
  padding: 0;
  text-align: left;
}
/* line 221, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .manage .manage-content .table-content table thead tr th:nth-of-type(0n+1) {
  padding-left: 20px;
}
/* line 229, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .manage .manage-content .table-content table tbody tr td {
  position: relative;
  height: 50px;
  line-height: 50px;
  padding: 0;
  font-size: 14px;
  text-align: left;
}
/* line 236, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .manage .manage-content .table-content table tbody tr td:nth-of-type(0n+1) {
  padding-left: 20px;
}
/* line 239, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .manage .manage-content .table-content table tbody tr td.empty {
  text-align: center;
}
/* line 243, ../scss/templates/_studentInfo.scss */
.studentinfo .inner-wrapper .manage .manage-content .table-content table tbody tr.selected {
  background-color: #D1E1FD;
}

/* line 6, ../scss/directives/_loading.scss */
.loader {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  min-height: 100%;
  opacity: 1;
}
/* line 12, ../scss/directives/_loading.scss */
.loader .loading-spokes {
  position: relative;
  margin: auto;
  height: 45px;
}
/* line 16, ../scss/directives/_loading.scss */
.loader .loading-spokes .spoke-container {
  position: absolute;
  top: 50%;
  left: calc(50% - 10px*1.5);
  -moz-transform-origin: 50% -100%;
  -ms-transform-origin: 50% -100%;
  -webkit-transform-origin: 50% -100%;
  transform-origin: 50% -100%;
}
/* line 21, ../scss/directives/_loading.scss */
.loader .loading-spokes .spoke-container .spoke {
  background: #9B9B9B;
  width: 4px;
  height: 10px;
  -moz-animation: spoke 1s infinite;
  -webkit-animation: spoke 1s infinite;
  animation: spoke 1s infinite;
  -moz-animation-delay: inherit;
  -webkit-animation-delay: inherit;
  animation-delay: inherit;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 29, ../scss/directives/_loading.scss */
.loader .loading-spokes .spoke-container:nth-of-type(0n+1) {
  -moz-transform: translate(100%, 50%) rotate(-90deg);
  -ms-transform: translate(100%, 50%) rotate(-90deg);
  -webkit-transform: translate(100%, 50%) rotate(-90deg);
  transform: translate(100%, 50%) rotate(-90deg);
  -moz-animation-delay: -0.875s;
  -webkit-animation-delay: -0.875s;
  animation-delay: -0.875s;
}
/* line 33, ../scss/directives/_loading.scss */
.loader .loading-spokes .spoke-container:nth-of-type(0n+2) {
  -moz-transform: translate(100%, 50%) rotate(-45deg);
  -ms-transform: translate(100%, 50%) rotate(-45deg);
  -webkit-transform: translate(100%, 50%) rotate(-45deg);
  transform: translate(100%, 50%) rotate(-45deg);
  -moz-animation-delay: -0.75s;
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
}
/* line 37, ../scss/directives/_loading.scss */
.loader .loading-spokes .spoke-container:nth-of-type(0n+3) {
  -moz-transform: translate(100%, 50%);
  -ms-transform: translate(100%, 50%);
  -webkit-transform: translate(100%, 50%);
  transform: translate(100%, 50%);
  -moz-animation-delay: -0.625s;
  -webkit-animation-delay: -0.625s;
  animation-delay: -0.625s;
}
/* line 41, ../scss/directives/_loading.scss */
.loader .loading-spokes .spoke-container:nth-of-type(0n+4) {
  -moz-transform: translate(100%, 50%) rotate(45deg);
  -ms-transform: translate(100%, 50%) rotate(45deg);
  -webkit-transform: translate(100%, 50%) rotate(45deg);
  transform: translate(100%, 50%) rotate(45deg);
  -moz-animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
/* line 45, ../scss/directives/_loading.scss */
.loader .loading-spokes .spoke-container:nth-of-type(0n+5) {
  -moz-transform: translate(100%, 50%) rotate(90deg);
  -ms-transform: translate(100%, 50%) rotate(90deg);
  -webkit-transform: translate(100%, 50%) rotate(90deg);
  transform: translate(100%, 50%) rotate(90deg);
  -moz-animation-delay: -0.375s;
  -webkit-animation-delay: -0.375s;
  animation-delay: -0.375s;
}
/* line 49, ../scss/directives/_loading.scss */
.loader .loading-spokes .spoke-container:nth-of-type(0n+6) {
  -moz-transform: translate(100%, 50%) rotate(135deg);
  -ms-transform: translate(100%, 50%) rotate(135deg);
  -webkit-transform: translate(100%, 50%) rotate(135deg);
  transform: translate(100%, 50%) rotate(135deg);
  -moz-animation-delay: -0.25s;
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
}
/* line 53, ../scss/directives/_loading.scss */
.loader .loading-spokes .spoke-container:nth-of-type(0n+7) {
  -moz-transform: translate(100%, 50%) rotate(180deg);
  -ms-transform: translate(100%, 50%) rotate(180deg);
  -webkit-transform: translate(100%, 50%) rotate(180deg);
  transform: translate(100%, 50%) rotate(180deg);
  -moz-animation-delay: -0.125s;
  -webkit-animation-delay: -0.125s;
  animation-delay: -0.125s;
}
/* line 57, ../scss/directives/_loading.scss */
.loader .loading-spokes .spoke-container:nth-of-type(0n+8) {
  -moz-transform: translate(100%, 50%) rotate(225deg);
  -ms-transform: translate(100%, 50%) rotate(225deg);
  -webkit-transform: translate(100%, 50%) rotate(225deg);
  transform: translate(100%, 50%) rotate(225deg);
  -moz-animation-delay: 0;
  -webkit-animation-delay: 0;
  animation-delay: 0;
}

@keyframes spoke {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
/* ==========================================
 *  http://codepen.io/Augus/pen/jPaXBo          
 * ========================================== */
/* line 6, ../scss/directives/_spin.scss */
.spin:after {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  border-top: 2px solid #545a6a;
  border-bottom: 2px solid #d4d4db;
  border-left: 2px solid #545a6a;
  border-right: 2px solid #d4d4db;
  content: '';
  opacity: 1;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -moz-animation: rotate 0.6s linear infinite;
  -webkit-animation: rotate 0.6s linear infinite;
  animation: rotate 0.6s linear infinite;
}
/* line 23, ../scss/directives/_spin.scss */
.spin.spin-large:after {
  width: 40px;
  height: 40px;
}
/* line 29, ../scss/directives/_spin.scss */
.spin.spin-medium:after {
  width: 20px;
  height: 20px;
}
/* line 35, ../scss/directives/_spin.scss */
.spin.spin-small:after {
  width: 12px;
  height: 12px;
}
/* line 42, ../scss/directives/_spin.scss */
.spin.throbber_green:after {
  opacity: 1;
  border-top: 1px solid #42a26e;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #42a26e;
  border-right: 1px solid #fff;
}
@-moz-keyframes rotate {
  0% {
    -moz-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
  }
  100% {
    -moz-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
}
@keyframes rotate {
  0% {
    -moz-transform: rotateZ(-360deg);
    -ms-transform: rotateZ(-360deg);
    -webkit-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
  }
  100% {
    -moz-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
}
/* line 1, ../scss/directives/_topbar.scss */
#topbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #FFF;
  z-index: 99;
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
/* line 9, ../scss/directives/_topbar.scss */
#topbar .wrapper {
  display: -webkit-flex;
  display: flex;
}
/* line 12, ../scss/directives/_topbar.scss */
#topbar .left {
  display: -webkit-inline-flex;
  display: inline-flex;
  height: 70px;
}
/* line 15, ../scss/directives/_topbar.scss */
#topbar .left .logo {
  margin: auto 0;
  margin-right: 14px;
  width: 105px;
  height: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 24, ../scss/directives/_topbar.scss */
#topbar .left .slogan {
  margin: auto 0 10px;
  font-size: 18px;
  height: 20px;
  line-height: 20px;
  color: #FF5D01;
  font-weight: bold;
}

/* line 1, ../scss/directives/_nav-sidebar.scss */
#nav-sidebar {
  position: fixed;
  display: inline-block;
  padding: 8px 0;
  top: 110px;
  width: 240px;
  max-height: calc(100vh - 40px - 110px);
  background-color: #FFF;
  z-index: 99;
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 13, ../scss/directives/_nav-sidebar.scss */
#nav-sidebar .action-list .action-item {
  position: relative;
  width: 100%;
  cursor: pointer;
}
/* line 17, ../scss/directives/_nav-sidebar.scss */
#nav-sidebar .action-list .action-item .item-title {
  padding: 0 14px;
  font-size: 16px;
  line-height: 40px;
  color: #565151;
  height: 40px;
  display: -webkit-flex;
  display: flex;
}
/* line 24, ../scss/directives/_nav-sidebar.scss */
#nav-sidebar .action-list .action-item .item-title i {
  margin-right: 10px;
  height: 40px;
  line-height: 42px;
}
/* line 29, ../scss/directives/_nav-sidebar.scss */
#nav-sidebar .action-list .action-item .item-title span.icon {
  position: absolute;
  top: 0;
  right: 15px;
  line-height: 40px;
  font-size: 12px;
}
/* line 38, ../scss/directives/_nav-sidebar.scss */
#nav-sidebar .action-list .action-item .item-menu .menu-list {
  height: 0;
  margin: 0;
  padding: 0 30px;
  border-left: 1px dashed #aaa;
  overflow: hidden;
}
/* line 44, ../scss/directives/_nav-sidebar.scss */
#nav-sidebar .action-list .action-item .item-menu .menu-list .menu-item {
  padding: 10px 0;
}
/* line 46, ../scss/directives/_nav-sidebar.scss */
#nav-sidebar .action-list .action-item .item-menu .menu-list .menu-item.active {
  color: #FF5D01;
}
/* line 53, ../scss/directives/_nav-sidebar.scss */
#nav-sidebar .action-list .action-item.active .item-title {
  background-color: rgba(255, 93, 1, 0.2);
}
/* line 59, ../scss/directives/_nav-sidebar.scss */
#nav-sidebar .action-list .action-item.show-menu .item-title span.icon {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 64, ../scss/directives/_nav-sidebar.scss */
#nav-sidebar .action-list .action-item.show-menu .item-menu .menu-list {
  height: auto;
  margin: 10px 0 10px 26px;
}

/* line 2, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-dialog {
  margin: 18px auto;
}
/* line 5, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-header {
  position: relative;
}
/* line 7, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-header .close {
  position: absolute;
  top: 1px;
  right: 0;
  height: 53px;
  width: 53px;
}
/* line 14, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-header h4 {
  text-align: center;
  font-size: 20px;
}
/* line 19, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body {
  padding: 20px 30px;
}
/* line 21, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-info-content {
  display: -webkit-flex;
  display: flex;
}
/* line 23, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-info-content .left,
#invoice-modal .modal-body .invoice-info-content .right {
  display: inline-block;
  -webkit-flex: 1;
  flex: 1;
}
/* line 27, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-info-content .left .form-group,
#invoice-modal .modal-body .invoice-info-content .right .form-group {
  height: 35px;
  line-height: 35px;
  margin-bottom: 0;
  margin-right: 20px;
  vertical-align: top;
}
/* line 33, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-info-content .left .form-group label,
#invoice-modal .modal-body .invoice-info-content .right .form-group label {
  vertical-align: top;
  font-size: 16px;
  font-weight: bold;
}
/* line 38, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-info-content .left .form-group .input-group,
#invoice-modal .modal-body .invoice-info-content .right .form-group .input-group {
  width: calc(100% - 120px);
  display: inline-block;
}
/* line 41, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-info-content .left .form-group .input-group .input-group-addon,
#invoice-modal .modal-body .invoice-info-content .right .form-group .input-group .input-group-addon {
  height: 34px;
}
/* line 44, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-info-content .left .form-group .input-group input,
#invoice-modal .modal-body .invoice-info-content .right .form-group .input-group input {
  width: calc(100% - 40px);
}
/* line 48, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-info-content .left .form-group .warning,
#invoice-modal .modal-body .invoice-info-content .right .form-group .warning {
  color: #F14342;
}
/* line 51, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-info-content .left .form-group .input-block,
#invoice-modal .modal-body .invoice-info-content .right .form-group .input-block {
  position: relative;
  display: inline-block;
}
/* line 54, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-info-content .left .form-group .input-block input,
#invoice-modal .modal-body .invoice-info-content .right .form-group .input-block input {
  width: 170px;
  padding-right: 25px;
}
/* line 57, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-info-content .left .form-group .input-block input.id,
#invoice-modal .modal-body .invoice-info-content .right .form-group .input-block input.id {
  width: 120px;
}
/* line 61, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-info-content .left .form-group .input-block .company-correct,
#invoice-modal .modal-body .invoice-info-content .right .form-group .input-block .company-correct {
  position: absolute;
  display: none;
  bottom: -18px;
  left: -125px;
  font-size: 12px;
  color: #333;
  height: 14px;
  width: 295px;
  line-height: 14px;
}
/* line 72, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-info-content .left .form-group .input-block .success, #invoice-modal .modal-body .invoice-info-content .left .form-group .input-block .error,
#invoice-modal .modal-body .invoice-info-content .right .form-group .input-block .success,
#invoice-modal .modal-body .invoice-info-content .right .form-group .input-block .error {
  display: none;
}
/* line 76, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-info-content .left .form-group .input-block.has-error .success,
#invoice-modal .modal-body .invoice-info-content .right .form-group .input-block.has-error .success {
  display: none;
}
/* line 79, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-info-content .left .form-group .input-block.has-error .error,
#invoice-modal .modal-body .invoice-info-content .right .form-group .input-block.has-error .error {
  display: block;
}
/* line 82, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-info-content .left .form-group .input-block.has-error .company-correct,
#invoice-modal .modal-body .invoice-info-content .right .form-group .input-block.has-error .company-correct {
  display: block;
}
/* line 87, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-info-content .left .form-group .input-block.has-success .success,
#invoice-modal .modal-body .invoice-info-content .right .form-group .input-block.has-success .success {
  display: block;
}
/* line 90, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-info-content .left .form-group .input-block.has-success .error,
#invoice-modal .modal-body .invoice-info-content .right .form-group .input-block.has-success .error {
  display: none;
}
/* line 99, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-content .invoice-pager {
  margin: 20px 0 5px;
  text-align: center;
}
/* line 102, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-content .invoice-pager .pager {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin: 0 5px;
  background-color: rgba(51, 51, 51, 0.2);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 109, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-content .invoice-pager .pager.active {
  background-color: #333;
}
/* line 114, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-content .invoice-wrapper {
  height: 550px;
  padding: 10px 30px;
  margin: 0 auto;
  text-align: center;
  border: 2px dashed #ccc;
}
/* line 120, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-content .invoice-wrapper .invoice-title {
  font-size: 20px;
  height: 24px;
  line-height: 24px;
  margin-bottom: 8px;
  color: #aaa;
}
/* line 126, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-content .invoice-wrapper .invoice-title span {
  margin: 0 10px;
}
/* line 130, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-content .invoice-wrapper .invoice-desc {
  color: #aaa;
  font-size: 16px;
  margin-bottom: 8px;
}
/* line 135, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-content .invoice-wrapper .invoice-date {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  vertical-align: top;
}
/* line 140, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-content .invoice-wrapper .invoice-date span {
  color: #333;
  font-size: 24px;
}
/* line 145, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-content .invoice-wrapper .result-content {
  text-align: left;
  font-size: 14px;
  color: #aaa;
}
/* line 149, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-content .invoice-wrapper .result-content .invoice-buyer {
  margin-bottom: 8px;
  height: 28px;
  line-height: 28px;
}
/* line 153, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-content .invoice-wrapper .result-content .invoice-buyer span {
  color: #333;
  font-size: 24px;
  line-height: 24px;
}
/* line 159, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-content .invoice-wrapper .result-content .invoice-meta {
  margin-bottom: 15px;
}
/* line 161, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-content .invoice-wrapper .result-content .invoice-meta .invoice-companyid {
  display: inline-block;
  margin-right: 15px;
}
/* line 164, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-content .invoice-wrapper .result-content .invoice-meta .invoice-companyid span {
  height: 24px;
  line-height: 28px;
}
/* line 168, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-content .invoice-wrapper .result-content .invoice-meta .invoice-companyid .id-item {
  width: 28px;
  height: 28px;
  display: inline-block;
  border: 1px solid #ccc;
  border-right: none;
  text-align: center;
  line-height: 28px;
  vertical-align: top;
  font-size: 24px;
  color: #333;
}
/* line 179, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-content .invoice-wrapper .result-content .invoice-meta .invoice-companyid .id-item:last-child {
  border-right: 1px solid #ccc;
}
/* line 185, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-content .invoice-wrapper .result-content .invoice-table {
  height: 200px;
}
/* line 189, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-content .invoice-wrapper .result-content .invoice-table thead tr th {
  border: 1px solid #C38293;
  font-size: 16px;
  padding: 4px 8px;
}
/* line 198, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-content .invoice-wrapper .result-content .invoice-table tbody tr td {
  height: 40px;
  line-height: 40px;
  border: 1px solid #C38293;
  padding: 0 8px;
  font-size: 16px;
}
/* line 204, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-content .invoice-wrapper .result-content .invoice-table tbody tr td.td-answer {
  color: #333;
  font-size: 24px;
}
/* line 208, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-content .invoice-wrapper .result-content .invoice-table tbody tr td.td-word {
  text-align: right;
  font-size: 24px;
}
/* line 211, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-content .invoice-wrapper .result-content .invoice-table tbody tr td.td-word .word-item {
  display: inline-block;
  width: 60px;
  margin-left: 5px;
}
/* line 215, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-content .invoice-wrapper .result-content .invoice-table tbody tr td.td-word .word-item .word {
  display: inline-block;
  margin-right: 5px;
  text-align: center;
  color: #333;
}
/* line 221, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-body .invoice-content .invoice-wrapper .result-content .invoice-table tbody tr td.td-word .word-item .unit {
  line-height: 20px;
  font-size: 16px;
}
/* line 236, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-footer {
  text-align: left;
  padding: 15px 30px;
}
/* line 239, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-footer .form-inline {
  display: inline-block;
}
/* line 241, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-footer .form-inline span {
  display: inline-block;
  height: 34px;
  line-height: 34px;
  margin-right: 10px;
}
/* line 247, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-footer .form-inline .radio-inline {
  height: 34px;
  line-height: 34px;
}
/* line 250, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-footer .form-inline .radio-inline input {
  margin: 0;
  top: 48%;
  left: 4px;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 257, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-footer .form-inline .form-group {
  margin-left: 30px;
}
/* line 259, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-footer .form-inline .form-group label {
  height: 35px;
  line-height: 35px;
  margin-right: 10px;
}
/* line 264, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-footer .form-inline .form-group input {
  width: 130px;
}
/* line 266, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-footer .form-inline .form-group input.tax {
  width: 80px;
}
/* line 272, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-footer .btn {
  float: right;
}
/* line 275, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-footer .result-container {
  display: none;
  height: 34px;
  margin-right: 20px;
  float: right;
}
/* line 280, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-footer .result-container .label {
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
  margin: auto 10px;
}
/* line 286, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-footer .result-container .spin-style {
  margin: auto;
}
/* line 290, ../scss/directives/_invoice-modal.scss */
#invoice-modal .modal-footer .result-container.show-result {
  display: -webkit-flex;
  display: flex;
}
/* line 295, ../scss/directives/_invoice-modal.scss */
#invoice-modal .right-button, #invoice-modal .left-button {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 200px;
  background-color: rgba(51, 51, 51, 0.2);
  cursor: pointer;
  display: -webkit-flex;
  display: flex;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 304, ../scss/directives/_invoice-modal.scss */
#invoice-modal .right-button span, #invoice-modal .left-button span {
  color: #FFF;
  font-size: 28px;
  margin: auto;
}
/* line 309, ../scss/directives/_invoice-modal.scss */
#invoice-modal .right-button:hover, #invoice-modal .left-button:hover {
  background-color: rgba(51, 51, 51, 0.5);
}
/* line 312, ../scss/directives/_invoice-modal.scss */
#invoice-modal .right-button.stop, #invoice-modal .left-button.stop {
  cursor: not-allowed;
}
/* line 314, ../scss/directives/_invoice-modal.scss */
#invoice-modal .right-button.stop:hover, #invoice-modal .left-button.stop:hover {
  background-color: rgba(51, 51, 51, 0.2);
}
/* line 319, ../scss/directives/_invoice-modal.scss */
#invoice-modal .right-button {
  right: -80px;
  -moz-border-radius: 8px 0 0 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px 0 0 8px;
}
/* line 323, ../scss/directives/_invoice-modal.scss */
#invoice-modal .left-button {
  left: -80px;
  -moz-border-radius: 0 8px 8px 0;
  -webkit-border-radius: 0;
  border-radius: 0 8px 8px 0;
}

/* line 33, ../scss/style.scss */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* line 37, ../scss/style.scss */
html, body {
  background-color: #E9E9E9;
}

/* line 42, ../scss/style.scss */
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Lato", "Helvetica Neue", Helvetica, Arial, "PingFang TC", "PingFang SC", "STHeiti", "微軟正黑體", "Microsoft Yahei", sans-serif;
}
/* line 46, ../scss/style.scss */
body h1, body h2, body h3, body h4, body h5, body h6, body .headline {
  margin: 0;
  font-family: "Open Sans", "Lato", "Helvetica Neue", Helvetica, Arial, "PingFang TC", "PingFang SC", "STHeiti", "微軟正黑體", "Microsoft Yahei", sans-serif;
}
/* line 49, ../scss/style.scss */
body h1 > *, body h2 > *, body h3 > *, body h4 > *, body h5 > *, body h6 > *, body .headline > * {
  font-family: "Open Sans", "Lato", "Helvetica Neue", Helvetica, Arial, "PingFang TC", "PingFang SC", "STHeiti", "微軟正黑體", "Microsoft Yahei", sans-serif;
}

/* line 54, ../scss/style.scss */
input, div, textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", "Lato", "Helvetica Neue", Helvetica, Arial, "PingFang TC", "PingFang SC", "STHeiti", "微軟正黑體", "Microsoft Yahei", sans-serif;
}

/* line 58, ../scss/style.scss */
textarea {
  resize: none;
}

/* line 62, ../scss/style.scss */
input:focus, textarea:focus {
  outline-offset: 0;
  outline: none;
}

/* line 67, ../scss/style.scss */
.wrapper {
  position: relative;
  max-width: 1260px;
  min-width: 820px;
  margin: auto;
}

/* line 74, ../scss/style.scss */
#container {
  background-color: #E9E9E9;
  margin-top: 70px;
}

/* line 80, ../scss/style.scss */
.btn.btn-orange {
  background-image: linear-gradient(to bottom, #ffb489 0%, #ff7323 100%);
  border-color: #FF5D01;
}
/* line 83, ../scss/style.scss */
.btn.btn-orange.disable {
  opacity: 0.5;
  cursor: not-allowed;
}
/* line 87, ../scss/style.scss */
.btn.btn-orange:hover, .btn.btn-orange:focus {
  background-color: #FF7323;
  outline: none;
}
/* line 92, ../scss/style.scss */
.btn.btn-orange:active:focus {
  border-color: #cd4a00;
}

/* line 100, ../scss/style.scss */
.form-group.has-error .form-control {
  border-color: #F14342;
}
/* line 102, ../scss/style.scss */
.form-group.has-error .form-control:focus {
  border-color: #F14342;
}
