<div class="example">
    <div class="page-content">
        <div class="inner-wrapper">
            <div class="content">
                <div class="info">
                    <div class="title">產生證書</div>
                    
                    <div style="text-align:center">
						<label for="studentName">學員姓名: </label>
						<input type="text" id="studentName" value="陳泰迪"><br> 
						<label for="certificationNumber">證書編號: </label>
						<input type="text" id="certificationId" value="SCRUM1603-33"><br>
						<br>
						<input type="button" value="Generate" ng-click="ClickGenerateButton()">
					</div>
					
					<br>
					
					<img style="display: block; margin: auto" id="someImg" width="60%"></img>
                     
                    
                </div>
            </div>
        </div>
    </div>
</div>