<div class="courseInfo">
    <div class="inner-wrapper">
    	<div class="manage">
            <div class="manage-topbar">
                <div class="topbar-search">
                    <div class="input-group">
                          <input type="text" class="form-control" placeholder="課名搜尋">
                          <div class="input-group-addon">
                              <span class="glyphicon glyphicon-search"></span>
                          </div>
                    </div>
                </div>
                <div class="topbar-search">
                    <div class="input-group">
                          <input type="text" class="form-control" placeholder="梯次搜尋">
                          <div class="input-group-addon">
                              <span class="glyphicon glyphicon-search"></span>
                          </div>
                    </div>
                </div>
                <div class="topbar-search">
                    <div class="input-group">
                          <input type="text" class="form-control" placeholder="講師搜尋">
                          <div class="input-group-addon">
                              <span class="glyphicon glyphicon-search"></span>
                          </div>
                    </div>
                </div>
            </div>
            <loading ng-show="isCourseLoading"></loading>
            <div class="manage-content" ng-show="!isCourseLoading">
                <div class="table-content">
                    <table class="table table-hover" border="1" cellpadding="9">
                        <thead>
                            <!-- <th>課名</th> -->
                            <th>類型</th>
                            <th>梯次</th>
                            <th>講師</th>
                            <th>狀態</th>
                            <th>功能</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="course in courseList track by $index" ng-dblclick="goStudentManage(course.courseId_ , course.courseName_)">
                                <!-- <td>{{course.courseName_}}</td> -->
                                <td>{{course.type_}}</td>
                                <td>{{course.batch_}}</td>
                                <td>{{course.lecturer_}}</td>
                                <td>{{course.status_}}</td>
                                <td>
                                    <input type="submit" class="btn btn-info btn-orange" value="刪除" ng-click="deleteRow(course.courseId_)">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    	</div>
    </div>
</div>