<div class="example">
    <div class="page-content">
        <div class="inner-wrapper">
            <div class="content">
                <div class="info">
                    <div class="title">寄送郵件</div>
                    				
					<form name="myForm"class="form-group">Class：
					 <select size=5 class="form-control" ng-model="selectedValue1" ng-change="updateStudentCheckList()" id="courseCheckbox">	</select>
						
						<hr>
						<span>Student：</span>
						<div id="studentName" class="form-group"></div>
					</form>
					
					<hr>
					
					<FORM ACTION="#" NAME=temp>
						<TEXTAREA class="form-control" NAME=previewBox COLS=70 ROWS=10 DISABLED>請選取課程</TEXTAREA>
						<select class="form-control" name="member" size=6 ng-model="selectedValue2" ng-change="updateMailContent()" id="inpRec_Name"></select>
					</FORM>
				
					<input class="btn btn-info btn-orange" type="submit" value="產生" id="form_submit" name="form_submit" ng-click="generatePreviewMail()">	
					<input class="btn btn-info btn-orange" type="submit" value="發信" id="form_submit" name="form_submit" ng-click="sendmail()">                     
                    
                </div>
            </div>
        </div>
    </div>
</div>