<div class="example">
    <div class="inner-wrapper">
        <div class="info">
            <div class="title">Student Information</div>
         			<div ng-app="app" ng-controller="StudentInfoController as Ctrl">
						<div class="si-control-group">
							<div class="si-controls">
						    	<span class="btn btn-orange btn-success si-fileinput-btn">
						        	<i class="icon-plus icon-white"></i>
					    				<input type="file" accept=".xlsx,.xls"
														onchange="angular.element(this).scope().Ctrl.fileChanged(this.files);" />
						        </span>
						    </div>			   
						</div>		
						<br>		
					    <select
					    	ng-change="Ctrl.updateItems()" 
					    	ng-model="Ctrl.selectedSheetName"
					        ng-options="sheetName as sheetName for (sheetName, sheetData) in Ctrl.sheets">
					        <option value="">---- Choose Sheet ----</option>
					    </select>
					    <button ng-click="Ctrl.ok()">Upload to server</button>

						<div class="si-div" style="width:930px;height:800px;overflow:auto;">
							<table class="table table-bordered si-table" >
						    	<thead>
									<th ng-repeat="terms in Ctrl.terms" width:50px nowrap="nowrap">{{ terms}}</th>
							 	</thead>	 
								<tbody>	
									<tr ng-repeat="showData in Ctrl.showData">
																																					 
				     					<td> {{showData[0]}}</td>
										 <td>{{showData[1]}}</td>
										 <td>{{showData[2]}}</td>
									     <td>{{showData[3]}}</td>
									     <td>{{showData[4]}}</td>
									     <td>{{showData[5]}}</td>
									     <td>{{showData[6]}}</td>
									     <td>{{showData[7]}}</td>
									     <td>{{showData[8]}}</td>
									     <td>{{showData[9]}}</td>
									     <td>{{showData[10]}}</td>
									     <td>{{showData[11]}}</td>
									     <td>{{showData[12]}}</td>
									     <td>{{showData[13]}}</td> 
																	
									</tr>
								 </tbody>
							</table>
						</div>	
					</div>
        </div>
    </div>
</div>