<div class="studentinfo">
    <div class="inner-wrapper">
        <loading ng-show="isCertificationLoading">證書產生中</loading>
        <div class="manage" ng-show="!isCertificationLoading">
            <div class="fix-content">
                <div class="top-nav">
                    <a class="nav" ng-click="goCourseManage()">課程管理</a>
                    <span class="glyphicon glyphicon-menu-right"></span>
                    <span>{{currentCourse.courseName_}} - {{currentCourse.batch_}}</span>
                </div>
                <div class="manage-topbar">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default" ng-click="selectStudents()" ng-class="{'disabled': isStudentLoading}">
                            <div class="select-block">
                                <span class="glyphicon glyphicon-minus" ng-show="getSelectedStudent().length != studentList.length && getSelectedStudent().length != 0"></span>
                                <span class="glyphicon glyphicon-ok" ng-show="getSelectedStudent().length == studentList.length && !isStudentLoading"></span>
                            </div>
                        </button>
                        <button type="button" class="btn btn-default" ng-class="{'disabled': getSelectedStudent().length == 0}" ng-click="sendMailData()">寄送證書</button>
                        <button type="button" class="btn btn-default" ng-class="{'disabled': getSelectedStudent().length == 0}" ng-click="openInvoiceModal()" data-toggle="modal" data-target="#invoice-modal">產生發票</button>
                        <button type="button" class="btn btn-default" ng-class="{'disabled': getSelectedStudent().length == 0}">刪除學員</button>
                        <button type="button" class="btn btn-default" id="changeCertificationBackground" data-toggle="modal" data-target="#Background-Change-modal" ng-click="getBackgound()">更換證書底圖</button>
                        <button type="button" class="btn btn-default" ngf-select="fileChanged($file)" ngf-accept="'.xlsx'">上傳學員資料</button>
                        <button type="button" class="btn btn-default" id="generateStudentCertificationId" data-toggle="modal" data-target="#Generate-certificationid" ng-click="generatecertificationId()">產生證書編號</button>
                    </div>
                    <span class="select-info">已選取 {{getSelectedStudent().length}} 名學員</span>
                    <div class="student-search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="學員搜尋" ng-model="searchName">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-search"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <loading ng-show="isStudentLoading"></loading>
            <div class="manage-content" ng-show="!isStudentLoading">
                <div class="course-content">
                    <div class="content-title">課程資訊</div>
                    <div class="content-info">
                        <div class="left">
                            <div class="form-group">
                                <label>課程名稱：</label>
                                <span>{{currentCourse.courseName_}}</span>
                            </div>
                            <div class="form-group">
                                <label>批次：</label>
                                <span>{{currentCourse.batch_}}</span>
                            </div>
                            <div class="form-group">
                                <label>類型：</label>
                                <span>{{currentCourse.type_}}</span>
                            </div>
                            <div class="form-group">
                                <label>課程時間：</label>
                                <span>{{currentCourse.duration_}}</span>
                            </div>
                            <div class="form-group">
                                <label>開課日期：</label>
                                <span class="data-group">
                                    <span ng-repeat="date in currentCourse.dates_ track by $index">
                                        {{date}}
                                        <b ng-show="$index < currentCourse.dates_.length - 1">/</b>
                                    </span>
                                </span>
                            </div>
                            <div class="form-group">
                                <label>課程狀態：</label>
                                <span>{{currentCourse.status_}}</span>
                            </div>
                        </div>
                        <div class="right">
                            <div class="form-group">
                                <label>地點：</label>
                                <span>{{currentCourse.location_}}</span>
                            </div>
                            <div class="form-group">
                                <label>講師：</label>
                                <span>{{currentCourse.lecturer_}}</span>
                            </div>
                            <div class="form-group">
                                <label>票種：</label>
                                <span ng-repeat="type in currentCourse.ticketTypes_ track by $index">
                                    {{type}}
                                    <b ng-show="$index < currentCourse.ticketTypes_.length - 1">/</b>
                                </span>
                            </div>
                            <div class="form-group">
                                <label>票價：</label>
                                <span class="data-group">
                                    <span ng-repeat="price in currentCourse.prices_ track by $index">
                                        {{price}}
                                        <b ng-show="$index < currentCourse.prices_.length - 1">/</b>
                                    </span>
                                </span>
                                
                            </div>
                            <div class="form-group">
                                <label>課程連結：</label>
                                <span ng-show="currentCourse.hyperlink_ != ''"><a href=currentCourse.hyperlink_>{{currentCourse.hyperlink_}}</a></span>
                                <span ng-show="currentCourse.hyperlink_ == ''">無課程連結</span>
                            </div>
                            <div class="form-group">
                                <label>副本收件人：</label>
                                <span ng-repeat="cc in currentCourse.ccAddresses_ track by $index" ng-show="currentCourse.ccAddresses_.length > 0">
                                    {{cc}}
                                    <b ng-show="$index < currentCourse.ccAddresses_.length - 1">/</b>
                                </span>
                                <span ng-show="currentCourse.ccAddresses_.length == 0">無副本收件人</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="student-content">
                    <div class="content-title">學員資訊</div>
                    <table class="table table-hover">
                        <thead>
                            <th style="text-align: center;width:80px;">序號</th>
                            <th>學員名稱</th>
                            <th>公司</th>
                            <th>電話</th>
                            <th>電子郵件</th>
                            <th>繳費狀態</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="s in studentList track by $index" ng-class="{'selected': s.isSelected}" ng-click="toggleSelectStudent(s, $index, $event)" ng-show="studentList.length > 0">
                                <td style="text-align: center;">{{$index}}</td>
                                <td>{{s.name}}</td>
                                <td>{{s.company}}</td>
                                <td>{{s.phone}}</td>
                                <td>{{s.email}}</td>
                                <td>
                                    <button id="status-label" type="button" class="btn btn-default status-toggle" data-toggle="dropdown">
                                        <span>{{s.payment_status}}</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="status-label">
                                        <li ng-click="changeStudentStatus(s, 0)"><a>免繳費</a></li>
                                        <li ng-click="changeStudentStatus(s, 1)"><a>未繳費</a></li>
                                        <li ng-click="changeStudentStatus(s, 2)"><a>課後再繳費</a></li>
                                        <li ng-click="changeStudentStatus(s, 3)"><a>已繳費</a></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="7" ng-show="studentList.length == 0" class="empty">此課程尚未有學員資料</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Invoice Modal -->
<div class="modal fade" id="invoice-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <invoice-modal></invoice-modal>
    </div>
</div>
<!-- Background Change Modal -->
<div class="modal fade" id="Background-Change-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <Background-Change-modal>
            <input class="btn btn-info btn-orange" type="submit" value="瀏覽檔案" id="loadbackground_button" name="file" ngf-select="changeCertificationBackground($file)" accept="image/png, image/jpeg, image/jpg" ng-model="picFile" ngf-max-size="20MB">
            <input class="btn btn-info btn-orange" type="submit" value="上傳" id="uploadbackground_button" name="uploadbackground_button" ng-click="uploadBackground(picFile)">
            <div id="loadingBackground" style="display:">
                <spin spin-size="small" class="spin-style"></spin>
            </div>
            <div id="previewBackground" style="display: none">
                <br>
                <img id="blah" src="#" alt="your image" height="700" width="1000" />
            </div>
            <div id="uploadpreviewBackground" style="display: ">
                <br>
                <img ngf-thumbnail="picFile" height="700" width="1000">
            </div>
        </Background-Change-modal>
    </div>
</div>
