<div class="manage">
    <div class="manage-topbar">
        <div class="class-dropdown">
            <button id="class-label" type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span>Scrum 敏捷方法實作</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="class-label">
                <li><a>Design Pattern</a></li>
                <li><a>Scrum 敏捷方法實作</a></li>
                <li><a>單元測試與整合實作班</a></li>
            </ul>
        </div>
        <div class="student-search">
            <div class="input-group">
                  <input type="text" class="form-control" placeholder="學員搜尋">
                  <div class="input-group-addon">
                      <span class="glyphicon glyphicon-search"></span>
                  </div>
            </div>
        </div>
    </div>
    <loading ng-show="isStudentLoading"></loading>
    <div class="manage-content" ng-show="!isStudentLoading">
        <div class="table-content">
            <table class="table table-hover">
                <thead>
                    <th>學員名稱</th>
                    <th>公司</th>
                    <th>電話</th>
                    <th>電子郵件</th>
                    <th>繳費狀態</th>
                    <th>功能</th>
                </thead>
                <tbody>
                    <tr ng-repeat="s in studentList" ng-class="{'selected': s.isSelected}" ng-click="toggleSelectStudent($event, s)">
                        <td>{{s.name}}</td>
                        <td>{{s.company}}</td>
                        <td>{{s.phone}}</td>
                        <td>{{s.email}}</td>
                        <td>
                            <button id="status-label" type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="reverseSelect(s)">
                                <span>已繳費</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="status-label">
                                <li><a>免繳費</a></li>
                                <li><a>未繳費</a></li>
                                <li><a>課後再繳費</a></li>
                                <li><a>已繳費</a></li>
                            </ul>
                        </td>
                        <td>
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-floppy-saved"></span>
                            </button>
                            <button type="button" id="student-setting-label" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="reverseSelect(s)">
                                <span class="glyphicon glyphicon-menu-hamburger"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="student-setting-label">
                                <li><a>產生發票</a></li>
                                <li><a>寄送證書</a></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>