// -------------------------------------
//  Compass
// -------------------------------------

@import "compass/reset";
@import "compass/css3";

// -------------------------------------
//  Templates
// -------------------------------------

@import "templates/_example";
@import "templates/_invoice";

// -------------------------------------
//  Directives
// -------------------------------------

@import "directives/_loading";
@import "directives/_topbar";
@import "directives/_nav-sidebar";

// -------------------------------------
//  Base
// -------------------------------------
$global-font-style : "Open Sans", "Lato", "Helvetica Neue", Helvetica, Arial, "PingFang TC", "PingFang SC", "STHeiti", "微軟正黑體", "Microsoft Yahei", sans-serif;
$global-title-font-style : "Open Sans", "Lato", "Helvetica Neue", Helvetica, Arial, "PingFang TC", "PingFang SC", "STHeiti", "微軟正黑體", "Microsoft Yahei", sans-serif;

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html, body {
	// height: 100%;
	background-color: #E9E9E9;
}

body {
	margin: 0;
	padding: 0;
	font-family: $global-font-style;
	h1, h2, h3, h4, h5, h6, .headline {
		margin: 0;
        font-family: $global-title-font-style;
        > * {
            font-family: $global-title-font-style;
        }
    }
}
input, div, textarea {
	@include box-sizing(border-box);
	font-family:$global-font-style;
}
textarea {
	resize: none;
}
input, textarea {
    &:focus {
    	outline-offset: 0;
    	outline: none;
    }
}
.wrapper {
	position: relative;
	max-width: 1260px;
    min-width: 820px;
    margin: auto;
}

#container {
	background-color: #E9E9E9;
	margin-top: 70px;
}

.btn {
	&.btn-orange {
		background-image: linear-gradient(to bottom, #ffb489 0%, #ff7323 100%);
		border-color: #FF5D01;
		&:hover, &:focus{
			background-color: #FF7323;
			outline: none;
		}
		&:active {
			&:focus {
				border-color: #cd4a00;
			}
		}
	}
}
